<div class="back-img">
  <div class="container">
    <div class="col-xs-4 bg-white media-body homeBox">
      <h1>" MANAGIT " とは</h1>
      <p>
        情報共有アプリ説明：テスト。テスト。テスト。テスト。テスト。
        テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。
      </p>
      <div class="margin-top30">
        <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-success nav-link width-50 margin-auto" %>
      </div>
    </div>
  </div>
</div>
