<div class="back-img">
  <div class="container">
    <div class="col-xs-6 bg-white rounded media-body">
      <h1>PortFolio：情報共有アプリ</h1>
      <h4>
        情報共有アプリ説明：テスト。テスト。テスト。テスト。テスト。
        テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。
      </h4>
      <div class="margin-top30">
        <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-success nav-link" %>
      </div>
    </div>
  </div>
</div>
