<div class="back-img full-page">
  <div class="container">
    <div class="title-text col-xs-6 bg-white rounded">
      <h1>PortFolio：情報共有アプリ</h1>
      <h3>
        情報共有アプリ説明：テスト。テスト。テスト。テスト。テスト。
        テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。テスト。
      </h3>
      <div class="">
        <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-success center" %>
      </div>
    </div>
  </div>
</div>
